.git
.gitignore
node_modules
vendor
.env
.env.*
storage/*.key
storage/pail
npm-debug.log
yarn-error.log
public/build
public/hot
public/storage
.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
vercel.json
railway.json
.env.render
